*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.book {
  width: 50%;
  float: left;
  min-height: 300px;
  color: white;
  padding: 20px;
  margin:0px;
}

.book h2 {
  padding: 20px;
  background: rgba(000,000,000,0.6);
}

.book:nth-of-type(odd) {
  background: black;
}
